<p>notes works!</p>
<!-- <div class="title" (click)="openDialog(noteObj)">
  {{noteObj["title"]}}
</div>
<div class="body" (click)="openDialog(noteObj)">
  {{noteObj["body"]}}
</div> -->
<!-- <div class="iconsPanel">
  <mat-icons-panel (moreMenuClicked)="receiveMoreMenu($event)" 
                    (colorPalleteClicked)="receiveColorPallete($event)"
                    (archiveClicked)="receiveArchieveClicked($event)"></mat-icon>
  <div class="moremenu" *ngIf="moreMenuShow">
    <mat-icon [inline] (deleteButtonEmitter)="receiveDeleteButtonClick($event)"></mat-icon>
  </div>
  <div class="colorPallete" *ngIf="colorPalleteShow">
    <mat-icon [inline] (colorEmitter)="receiveColor($event)"></mat-icon>
  </div> -->
  <!-- <div class= "createNote">
    <div class="takeNote" *ngIf="!takeNoteExpanded" (click)= "takeNote"></div>
    <h3>Take a note</h3>
  </div>
  <app-createnote (closeClickEvent)="receiveCloseClick($event)"></app-createnote> -->


