.nop {
  text-decoration: none;
}
.takeNote:hover {
  box-shadow: 0 0 11px rgb(119, 118, 118);
}

.view1:hover {
  box-shadow: 0 0 11px rgb(119, 118, 118);
}
.view1{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 9px;
    width: 500px;
    border-radius: 10px;
}

::ng-deep .mat-card {
  width: 14cm;

  border-radius: 10px;
}
.XPtOyb-fmcmS {
  border: 1px solid transparent;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 12px;

}
::ng-deep .mat-standard-chip {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: inline-flex;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
}
.icons{
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  margin-top: 10px;
}
textarea{
  border-style: none; 
  border-color: Transparent; 
  overflow: auto; 
  font-family:  Roboto,Arial,sans-serif;
  font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: .01428571em;
    font: bold;
    outline: none;
}
mat-icon{
  border-radius: 200px;
  margin-right: 8px;
  font-size: 20px;
  color: #777474;

}
.HeaderButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.close
{
  margin-left: 100px;
}
.pin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
