<p>createnote works!</p>
<div fxLayoutAlign="center center">
  <mat-card *ngIf="!isPopUp" (click)="openCard()">
    <div>
      <input
        autocomplete="off"
        autofocus
        matInput
        placeholder="Take a note.."
        type="text"
      />
    </div>
  </mat-card>
<!-- <form [formGroup]="createNoteForm" class="example-form">
    <div class="title">
        <textarea matInput placeholder="Title" formControlName="title" class="form-control" ></textarea>

      </div>
      <div class="textOfNote">
        <textarea matInput placeholder="Take a note..." *ngIf="!takeNoteExpanded" (click)= "takeNote"></textarea>
      </div>
      <div class="icons-and-button">

        <div class="iconsPanel">
            <button mat-button class="material-icons-outlined iconClass">
              <mat-icon [inline]="true">notification_add</mat-icon>
            </button>
            <button mat-button class="material-icons-outlined iconClass">
              <mat-icon [inline]="true">person_add</mat-icon>
            </button>
             <button mat-button class="material-icons-outlined iconClass" >
              <mat-icon [inline]="true">palette</mat-icon>
            </button>
            <button mat-button class="material">
         <button mat-button class="material-icons-outlined iconClass" >
              <mat-icon [inline]="true">photo</mat-icon>
            </button>
            <button mat-button class="material-icons-outlined iconClass" >
              <mat-icon [inline]="true">archive</mat-icon>
            </button>
            <button mat-button class="material-icons-outlined iconClass" >
              <mat-icon [inline]="true">more_vert</mat-icon>
            </button>
        </div> 
       
       <button mat-flat-button class="buttonNext" >Close</button>
      </div>
    </form>  -->
