<p>dashboard works!</p>

<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>
  
        <mat-list-item>
          <mat-icon mat-list-icon class="menu sidenav-button" (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}">menu</mat-icon>
        </mat-list-item>
  
        <mat-list-item >
          <span class="material-icons-outlined">lightbulb</span>
          <span *ngIf="isExpanded">Notes</span>
        </mat-list-item>

        <!-- <button mat-button >
          <span class="material-icons-outlined">edit
            </span>
            <span>edit</span>
      </button> -->
  
        <mat-list-item >
          <span class="material-icons-outlined">edit
          </span>
          <span *ngIf="isExpanded">edit Label </span>
        </mat-list-item>
  
        

        <mat-list-item >
          <span class="material-icons-outlined">archive</span>
          <span *ngIf="isExpanded">Archive</span>
        </mat-list-item>

        <mat-list-item >
          <span class="material-icons-outlined">delete</span>
          <span *ngIf="isExpanded">Bin</span>
        </mat-list-item>
  
      </mat-nav-list>
    </mat-sidenav>
  
    <div class="content">
      <mat-toolbar>
        <img class="dash-icon"  src="../../../assets/keep_2020q4_48dp.png">
        <h4>Keep</h4>
        <span class="menu-spacer"></span>
        <span class="fill-remaining-space"></span>
         
        <!-- <mat-list-item >
          <-- <span class="material-icons-outlined">search</span> -->
          <!-- <mat-icon class ="My-icon">search</mat-icon>
        </mat-list-item>  -->

        <mat-form-field appearance="outline" class="search example-full-width noWrapper">
          <mat-icon matPrefix>search</mat-icon>
          <input type="search" matInput placeholder="Search">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>

        <mat-list-item >
          <mat-icon class ="vap-icon">refresh</mat-icon>
        </mat-list-item>

        <mat-list-item >
          <mat-icon class ="vap-icon">settings</mat-icon>
        </mat-list-item>
   
        <mat-list-item >
          <mat-icon class ="vap-icon">view_agenda</mat-icon>
        </mat-list-item>
      

        <!-- <span class="fill-remaining-space"></span> -->
     
        <mat-list-item >
          <mat-icon class ="vap-icon">apps</mat-icon>
        </mat-list-item>

      <mat-list-item >
        <span class="material-icons-outlined">account_circle</span>
      </mat-list-item>
    

     
        <!-- <mat-list-item [routerLink]="'dashboard'">
          <mat-icon mat-list-icon >delete</mat-icon>
          <span *ngIf="isExpanded">Bin</span>
        </mat-list-item> -->
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  
  </mat-sidenav-container>
  