@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

mat-sidenav-container {
    height: 100%;
  
    mat-sidenav {
  
      mat-nav-list {
  
        .menu {
          transition: 300ms ease-in-out;
          transform: rotate(0deg);
          right: 0;
          float: right;
          position: absolute;
        }
  
        // .menu.rotated {
        //   transform: rotate(180deg);
        // }
      }

    }
  }

  ::ng-deep .mat-form-field-infix
  {
    padding: 0 0 0 0 !important;
    
  }
  
  ::ng-deep .mat-form-field{ 
    height: 60px;
    width: 700px;

  }
  ::ng-deep .mat-form-field-outline {

    background: #f1f3f4 !important;
  }
  .search { 

    mat-icon {
      width: 200px; 
  
    }
  
    input { 
  
    }
  }
  
  .My-icon
  {
    width: 50px;
  }
  .menu-spacer{
    flex:1 1 auto;
  }
  mat-toolbar {
    .fill-remaining-space {
      flex: 1 1 auto;
    }
  }
  .vap-icon
  {
    padding: 0 20px;
  }
  