
<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>
  
        <mat-list-item>
          <mat-icon mat-list-icon class="menu sidenav-button" (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}">menu</mat-icon>
        </mat-list-item>
  
        <mat-list-item >
          <span class="material-icons-outlined">lightbulb</span>
          <span *ngIf="isExpanded">Notes</span>
        </mat-list-item>
  
        <mat-list-item >
          <span class="material-icons-outlined">edit
          </span>
          <span *ngIf="isExpanded">edit Label </span>
        </mat-list-item>
  
        <mat-list-item >
          <span class="material-icons-outlined">archive</span>
          <span *ngIf="isExpanded">Archive</span>
        </mat-list-item>
        
        <mat-list-item >
          <span class="material-icons-outlined">delete</span>
          <span *ngIf="isExpanded">Bin</span>
        </mat-list-item>
        
     
      </mat-nav-list>
    </mat-sidenav>
  
    <div class="content">
      <mat-toolbar>
        <img class="dash-icon"  src="../../../assets/keep_2020q4_48dp.png">
        <h4>Keep</h4>
        
        <span class="menu-spacer"></span>
        <span class="fill-remaining-space"></span>
         

        <div>
          <mat-form-field class="Search" appearance="outline" #search>
            <!-- <mat-icon matPrefix>search</mat-icon> -->
              <input matInput placeholder="Search" name="Search" >
             
            </mat-form-field>
        </div>

          <span class="fill-remaining-space"></span>

        <mat-list-item >
          <mat-icon class ="vap-icon">refresh</mat-icon>
        </mat-list-item>

        <mat-list-item >
          <mat-icon class ="vap-icon">settings</mat-icon>
        </mat-list-item>
   
        <mat-list-item >
          <mat-icon class ="vap-icon">view_agenda</mat-icon>
        </mat-list-item>
      

         <span class="fill-remaining-space"></span>  
     
         <mat-list-item >
          <mat-icon class ="vap-icon">apps</mat-icon>
        </mat-list-item>

      <mat-list-item >
        <span class="material-icons-outlined">account_circle</span>
      </mat-list-item> 
     
         
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  
  </mat-sidenav-container>
  <!-- <mat-sidenav-content class="container"> -->
  
    <div class="note-create">
      <!-- <app-createnote (messageEvent)="receiveMessage($event)" ></app-createnote> -->
    </div>
  